# Ignore everything at the root level
*

# Allow the specific folders
!fish/
!ghostty/
!hypr/
!nvim/
!qutebrowser/
!tmux/
!waybar/
!wofi/
!yazi/

# Allow all contents inside specific folders
!fish/**
!ghostty/**
!hypr/**
!nvim/**
!qutebrowser/**
!tmux/**
!waybar/**
!wofi/**
!yazi/**

!.git*
